<% runs.each do |run| %>
<tr id="run<%= run.id%>" class="unknown">
  <td class="run_count"><%= run.count %></td>
  <td class="card_name"><%= run.name %></td>
  <td><span class='delete_run' href=''>X</span></td>
</tr>
<% end %>