<% content_for :content do %>
  <div>
    <p class="text_entry">
      I have several goals while making this site. First, I didn't like
      any of the deck building sites out there, and thought I could make
      a cleaner and faster deck builder. Second, most deck building sites
      are within or surrounded by social site trappings, and don't tend to
      play nicely with competition. However, I'm not interested it building a
      community, merely with the rapid constucting of decks. I may build in
      mechanisms where others can critique a deck, or other semi-social
      features directly tied to deck building, but I also plan to export
      decks in various forum (auto-deck enabled, where possible) formats,
      and others formats where possible.
    </p>
    <p class="text_entry">
      Finally, this site is a testing ground for new ideas for me. This is
      my first site using ruby on rails, and my first site making extensive use
      of jquery. It might serve as the first in other things (mongodb, maybe?).
      My main purpose in stating this is that uptime will be
      worse than what my given host (currently heroku) provides, bugs and other
      errors will occur, and problems may or may not be fixed in a timely
      manner.      
    </p>
  </div>
<% end %>
