<% content_for :content do %>
  <div>
    <p class="text_entry">
      I would like to, at some point, have a firefox and/or chrome (and who know, by then maybe opera, IE and safari will also support plugins well enough for my purposes) plugins allowing cards to be added while actually browsing gatherer. Until then, this page will merely contain my ramblings and wishful thinking.
    </p>
  </div>
<% end %>
