html, body {
    background-color: #000000;
}

#doc3 {
    background-color: #FFFFCC;
}

#hd {
    border-bottom: 1px solid black;
}

#bd {
    padding-top: 15px;
    background-color: #ffffff;
}

#logo {
    clear: both;
}

#nav {
    float: left;
    margin-top: -18px;
    margin-left: 5px;
    width: 320px;
    text-align: left;
}

#nav li {
    /*color: #AB5933;*/
    display: inline;
    padding: 5px 10px 2px 10px;
}

#nav li, #nav a {
    color: #ffffff; /* #62a3db; */
    background-color: #3c2716;
    text-decoration: none;
    font-size: 120%;
}

#login_container {
    text-align: right;
    color: white;
    background-color: black;
}
#login_container a{
    color: white;
}

.consume_height {
    background-color: #FFFFCC;
    padding-bottom: 51em;     /* X + padding-bottom */
    margin-bottom: -50em;     /* X */
}

p {
    padding: 5px;
}

#ft {
    background-color: #000000;
    color: #FFFFFF;

    font-size: 0.8em;
    height: 50px;
    left: 10;
    bottom: 0;
    padding: 0;
    position: fixed;
    white-space: nowrap;
    width: 100%;
    z-index: 99;
}

#footer {
    color: #FFFFFF;
    white-space: normal;
    margin-right: 20px;
    height: 50px;
    padding: 10px;
}

#header, #footer {
    text-align: center;
}

th, td {
    padding: 5px;
}